.wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;

  .options{
    display: flex;
    justify-content: space-between;

    input{
      background-color: var(--darkBlue);
      border: none;
      height: 2.5rem;
      border-radius: .5rem;
      padding: 1rem;
      color: var(--white);
    }

    .selectBox {
      display: flex;
      align-items: center;

      select{
        background-color: var(--darkBlue);
        border-radius: .5rem;
        border: none;
        width: 10rem;
        height: 2.5rem;
        color: var(--white);
        padding: 0rem .5rem; 
        appearance: none;
        cursor: pointer;
      } 
      
      svg{
        transform: translateX(155px);
      }

    }
  }
}

.cards{
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}