.header{
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--darkBlue);
  color: var(--white);
  
  box-shadow: 0px 5px 3px -2px #181616;

}